# Ignore compiled classes
*.class
*.ini
/1Trimester/8Functions/ExFunctions/nbproject/private/
/1Trimester/8Functions/ExFunctions/build/
/1Trimester/9POO/PooExercises/nbproject/private/
/1Trimester/9POO/PooExercises/build/
/1Trimester/9POO/PooCode/nbproject/private/