# Ignore compiled classes
*.class
*.ini
/2Trimester/8Functions/ExFunctions/nbproject/private/
/2Trimester/8Functions/ExFunctions/build/
/2Trimester/9POO/PooExercises/nbproject/private/
/2Trimester/9POO/PooExercises/build/
/2Trimester/9POO/PooCode/nbproject/private/
/2Trimester/9POO/PooCode/build/
/2Trimester/10Collections/CollectionsCode/nbproject/private/
/2Trimester/10Collections/CollectionsCode/build/
/2Trimester/12JSP/Ex04Calculator/nbproject/private/
/2Trimester/12JSP/Ex04Calculator/build/